.inputs-all {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;

  .inputs-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
  }
}
